sudo: required

language: php

php:
- 7.1
- 7.2
- 7.3

cache:
  directories:
  - $HOME/.composer/cache
  - $HOME/.yarn-cache

notifications:
  email:
    on_success: change
    on_failure: always

before_install:
- sudo apt-get update
- travis_retry composer self-update

install:
- yes | pecl install imagick
- travis_retry composer install --no-interaction --no-suggest
- travis_retry yarn install --pure-lockfile
- yarn run prod

script:
- phpunit
- cat ./storage/logs/laravel.log

